
<script src="~/js/loadDashboard.js"></script>

<div id="title_favorite"></div>
<div class="row" id="favorites"></div>


<div id="title_weather"></div>
<div class="row" id="weather"></div>

<div id="title_exchange"></div>
<div class="row" id="exchange"></div>

<div id="title_news"></div>
<div class="row" id="news"></div>
