
<script src="~/js/loadDashboard.js"></script>

<h3>My Favorites</h3>
<div class="row" id="favorites"></div>

<h3>Weather</h3>
<div class="row" id="weather"></div>

<h3>Exchange Rate</h3>
<div class="row" id="exchange"></div>

<h3>News</h3>
<div class="row" id="news"></div>
